body{
    background-color: rgb(209,204,204);
}
.templateContainer{
    margin: 5%;
    width: 100vw;
    height: 100vh;
}
.templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.templateContainer > .searchInput_Container input{
    width: 50%;
    padding: 10px;
    outline: none;
}
.card{
    width: 30v;
    height: 40vh;
    }
    .card img{
        width: 150px;
        height: 200px;
        }
.template h3{
font-size: 15px;
}
.card-body{
width: 25vw;
height: 60vh;
}
.card p{
    font-size: 30px;
}